/* smartPhone */

.onLoadModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.onLoadModalContent{
  background-color: #fefefe;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 50%;
  width: 45vh; /* Could be more or less, depending on screen size */
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.onLoadModalp1{
  display: none;
}
.onLoadModalp2{
  margin-top: 6rem;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color:rgb(13, 93, 174);
}
.onLoadModalp3{
  text-align: center;
  align-self: center;
  margin-bottom: 5rem;
  margin-top: 0;
  font-size: 3rem;
}
.phone{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
.container{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns:100% ;
  grid-template-rows: 5rem max-content max-content auto 2rem;
  grid-template-areas:
  "headerP "
  "adminP"
  "navP "
  "mainP "
  "footerP";
}

.upperBar{
  width: 100%;
  height: 100%;
  grid-area: headerP;
  background-color: rgb(30, 57, 107);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.upperLeft{
  margin-left: 1rem;
}
.upperLeftLogin{
  margin-left: 8rem;
}
.upperCenter{
display: none;
}
.upperRight-phone{
  height: 100%;
margin-right: 1rem;
text-align: center;
width: 5rem;
}
.upperBar img{
  line-height: 1.2;
  height: 100%;
  width: 60%;
}
.phoneSearchBar{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  grid-area: navP;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.searchBar{
  display: none;
}
.searchForm{
  display: none;
}
.adminAddBook, .adminAddBook h3, .adminAddBook h6, .adminAddBookForm{
  display: none;
}
.phoneAdminAddBook{
  display: block;
}
 .phoneAdminAddBook h3, .phoneAdminAddBook h6{
  margin: 0.3rem;
  text-align: center;
}
.adminAddBookForm-phone{
  display: flex;
  grid-area: adminP;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: inset;
}

.adminAddBookForm-phone input, .adminAddBookForm-phone button{
  width: inherit;
  height: 2rem;
  margin: 0.5rem;
  text-align: center;
  border: 0.2px solid black;
}
.adminAddBookForm-phone textarea{
  width: inherit;
  height: 4rem;
  margin: 0.5rem;
  line-height: 4.5;
  text-align: center;
  border: 0.2px solid black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#addBookError-phone{
  margin: 0.5rem;
  text-align: center;
  width: inherit;
  height: fit-content;
  color: red;
}
#addBookError{
  display: none;
}
#adminAddButton-phone{
  height: auto;
  width: 45%;
}
.LoginOrJoin{
  text-decoration: none;
  font-size: 1rem;
  color:white;
  height: 50%;
  margin-top: 0.8rem;
}
.logout{
text-decoration: none;
font-size: 1rem;
color: white;
padding: 0.5rem;
cursor: pointer;
}

.myCartUrl{
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  margin-top: -0.1rem;
  padding: 0.3rem;
  display: block;
}

.searchForm-phone{
  display: block;
  width: 100%;
  height: 100%;
}
#searchButton-phone{
  margin: 0 1rem 0 3rem;
  border: 1px solid black;
}
.searchTitleText-phone{
  margin-left: 1rem;
  float: left;
  border: 1px solid black;
  height: 2.65rem;
  ;
}

.button{
  margin-top: 2rem;
  background-color: turquoise;
  color:white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border:none;
  cursor: pointer;
}

.searchTitleText{
text-align: center;
}
.mainPage{
  overflow:auto;
  grid-area: mainP;
  height: fit-content;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F0F0F0;
}
.mainPage .cellPhone{
  visibility: visible;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  text-align: center;
  height: 35vh;
  width: 90vw;
  margin-left: 1.2rem;
  margin-top: 1rem;
}

.mainPage .cell .bookImg{
  float: left;
  height: 100%;
  width: 40%;
  cursor: pointer;
}
.mainPage .cell .bookData{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.mainPage .cell .bookTitle{
  cursor: pointer;
  margin: 0.2rem;
}
.mainPage .cell .bookAuthor{
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
.mainPage .cell .bookPrice{
  color: rgb(5, 177, 117);
}
.mainPage .cell .bookAddToBasket{
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}
.lowerBar{
grid-area: footerP;
background-color: #2C3E50;
}
.footerContainer{
max-width: 70%;
}
.footer-right{
float: right;
}
.footer-left{
text-align: left;
line-height: 2;
}
/*---------------------------------------------*/

.mainBox-phone,.mainBox{
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "signin"
  "join";
  gap: 2rem;
  border: 1px solid black;
  background-color: white;
  margin: 0.2rem auto;
  width: 90vw;
  height: fit-content;
  background-color: burlywood;
  padding: 0.5rem;
}
.sign-in-container-phone{
  border-bottom: 0.5px solid black;
  border-bottom-width: 100%;
  width: 100%;
  height: max-content;
}
.sortSelect{
  padding: 0.8rem;
  font-size: 1rem;
  margin-top: 0.2rem;
}
.sortContainer{
  text-align: center;
}
.phoneH3,.compH3{
  margin: 0.5rem auto;
  text-align: center;
}
.join-container{
  width: 100%;
  text-align: center;
}
.errorJoin, .errorJoin-phone{
color: red;
width: 15rem;
margin-top: 1rem;
text-align: center;
max-height: fit-content;
}
.errorLogin-phone,.errorLogin{
  visibility: visible;
  color: red;
  margin-top: 1rem;
  width: 15rem;
  text-align: center;
  max-height: fit-content;
}

.successLogIn{
max-width: 15rem;
height: fit-content;
text-align: center;
margin-top: 0.5rem;
}
.successJoin{
max-width: 15rem;
height: fit-content;
text-align: center;
margin-top: 0.5rem;
}
.signInForm-phone, .signInForm{
  grid-area: signin;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* margin-left: 6rem; */
}
.joinForm{
  grid-area: join;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.signInForm-phone input,.signInForm input{
  background-color: #F1F1F1;
  border: none;
  height: 2rem;
  width: 20rem;
  /* margin-left: -6rem; */
  text-align: center;
  border-color: #ccc;
  margin-top: 1rem;
  box-shadow: 0 0.1rem 0 rgba(0,0,0,.07) inset;
}
.joinForm-phone input,.joinForm input {
  background-color: #F1F1F1;
  border: none;
  height: 2rem;
  width: 20rem;
  margin-top:1rem;
  text-align: center;
  border-color: #ccc;
  box-shadow: 0 0.1rem 0 rgba(0,0,0,.07) inset;
}
.phoneLogBut, .compLogBut{
  background-color: #10BBD5;
  color: white;
  width: 15rem;
  height: 2rem;
  border: none;
  margin-top: 3rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
}
.phoneJoinBut, .phoneJoinBut-phone{
  background-color: #10BBD5;
  color: white;
  width: 15rem;
  height: 2rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}
.none{
  display: none;
}
.block{
  display: block;
}

.modal,.modal-phone {
  position: fixed; 
  z-index: 1;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
}
.modalCart{
  background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-items: center;
}
.modalCart-phone{
  width: 95%;
  margin-top: 45vh;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
  "announ announ"
  "but1 but2";
  padding: 0.5rem;
  justify-items: center;
}
.announ{
  grid-area: announ;
  height: fit-content;
  margin-bottom: 0.5rem;
}
.continueBut{
  grid-area: but1;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-size: inherit;
}
.checkAndProBut{
  grid-area: but2;
  padding: 0.5rem;
  margin-top: 0.3rem;
  font-size: inherit;
}
/* The Close Button */
.closeModal {
  display: none;
}

.modalImg,.modalImg-phone{
    margin: 0.5rem;
    /* flex-basis: 20%; */
    width: -webkit-fill-available;
}
.modaldata,.modaldata-phone{
    flex-basis: 50%;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bookInfoTitle{
  font-size: 1.5rem;
  font-weight: bold;
}
.bookInfoAuthor{
  margin-top: 0.3rem;
  flex-basis: 10%;
  font-size: 0.9rem;
}
.bookInfoDescription{
  margin-top: 0.8rem;
    font-size: 0.9rem;
    flex-basis: 50%;
}
.bookInfoPrice{
  font-size: 1.5rem;
  cursor:text;
  color:rgb(5, 177, 117);
  margin-top: 0.2rem;
}
.bookInfoAddToCart{
  border-radius:0%;
  margin-top: 0.5rem;
  width: 80%;
}
.bookInfoPriceAndButton{
    flex-basis: 20%;
    width: -webkit-fill-available;
    cursor: pointer;
    margin-bottom: -1.5rem;
}
.inline-block{
    display: inline-block;
}


/*-----------------------cart-------------------*/

.cartH1-phone{
  text-align: center;
  color: #e1942f;
}
.cartContainer-phone{
  height: fit-content;
  background-color: #F0F0F0;
 }
.cartBox-phone{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 5fr;
  grid-template-rows: 0.6fr 6fr 0.8fr;
  grid-template-areas: 
  "headerO headerQ headerP headerB"
  "main main main main"
  "footerButton footerButton footerPrice footerPrice";
  height: 80%;
}
.options-header{
  grid-area: headerO;
  text-align: center;
  align-self: center;
  height: fit-content;
  font-weight: bold;
}
.cart-containers div div{
  border-left-width: 0;
  height: 3rem;
  line-height: 3;
  text-align: center;
  overflow: auto;
}
.alertModal{
  display: none; 
}
.alertModal-phone{
  display: block;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  padding-bottom: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.alertNotLogged{
  display: none;
}
.alertNotLogged-phone{
  display: block;
  background-color: #fefefe;
  margin: 50% auto;
  margin-bottom: 10rem;
  padding: 20px;
  color: red;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}
.quantity-header{

  grid-area: headerQ;
    text-align: center;
    align-self: center;
    height: fit-content;
    max-width: 2rem;
    overflow: auto;
    margin-left: 0.3rem;
    font-weight: bold;
}

.title-header{
  grid-area: headerB;
  text-align: center;
  align-self: center;
  height: fit-content;
  font-weight: bold;
}
.price-header{
  grid-area: headerP;
  text-align: center;
  align-self: center;
  height: fit-content;
  font-weight: bold;
}
.cart-containers{
  border-top: 1px solid #ccc;;
  grid-area: main;
  overflow: auto;
  display: grid;
  grid-template-columns:1.5fr 1fr 1fr 5fr;
  grid-template-areas:
  "option quantity price titles";
}
.cart-books{
  grid-area: titles;
  }
.cart-prices{
  grid-area: price;
 }
.cart-quantity{
  grid-area: quantity; 
}
.cart-options{
  grid-area: option; 
}

.cart-totalPrice-phone{
  line-height: 1.9;
  grid-area: footerPrice;
  text-align: center;
  border-top: 1px solid #ccc;
}

.bookTitleInCart,.bookPriceInCart,.bookQuantityInCart{
  border: 1px solid #ccc;
}
.bookOptionsInCart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
}
.bookOptionsInCart span{
  cursor: pointer;
  height: inherit;
  width: inherit;
  flex-basis: 35%;
}
.totalPriceP{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.totalQuantityP{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#cart-payButton{
  height: auto;
  text-align: center;
  margin: 0;
  line-height: 3;
  padding: 0;
  align-self: center;
  border-radius: 0;
  grid-area: footerButton;
  cursor: pointer;
}

.continueShoppingButton{
    flex-basis: 40%;
    margin: 0.5rem;
    cursor: pointer;    
}
.checkOutAndPayButton{
  flex-basis: 40%;
  margin: 0.5rem;
  cursor: pointer;
}
/* -------------------------------------- */

.adminModalForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adminModalForm h4{
  align-self: flex-start;
  margin: 1rem;
}
.adminModalSrcText-phone{
  display: block;
  margin: 0.5rem auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 0;
  width: 80%;
  display: block;
  height: 2rem;
} 
.adminModalSrcText{
  display: none;
} 

.adminModalUpdateButton{
  width: 10rem;
  height: fit-content;
  background-color: brown;
  font-size: 1.2rem;
  color: white;
  align-self: center;
  margin-top: 0.5rem;
}
.bookPage-upperCenter{
  display: none;
}
.bookPage-upperBar{
  width: 100%;
  height: 100%;
  grid-area: headerP;
  background-color: rgb(30, 57, 107);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.bookPage-upperBar img{
  line-height: 1.2;
  height: 100%;
  width: 60%;
}
.bookPage-container{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 85vh 40vh 45vh 2rem;
  grid-template-areas:
  "headerP"
  "bookDescription"
  "bookPriceBox"
  "otherBooks"
  "footerBookPage";
  gap: 3rem;
}

.bookPage-bookContainer{
  grid-area: bookDescription;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "bookPage-img"
  "bookPage-info";
}
.bookPage-bookimgContainer{
  grid-area: bookPage-img;
  width: 90%;
  height: 90%;
  margin: auto;
}
.bookPage-bookImg{
  padding-left: 4rem;
  height: 100%;
  width: 60%;
}
.bookPage-bookInfoContainer{
  grid-area: bookPage-info;
  text-align: center;
  width: 95%;
  height: 95%;
  margin: auto;
}
.bookPage-bookInfoTitle{
  font-size: 1rem;
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 0.5rem;
}
.bookPage-bookInfoCategory{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 1rem;
}
.bookPage-bookInfoYear{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 0.4rem;
}
.bookPage-bookInfoAuthor{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 0.4rem;
}
.bookPage-bookInfoDescription{
  font-size: 0.9rem;
    font-weight: normal;
    margin: 1rem 0.5rem 0 0.5rem;
    height: 22vh;
    margin-top: 1.2rem;
    overflow: auto;
}
.bookPage-bookPriceBox{
  grid-area: bookPriceBox;
  border: 1px solid black;
  background-color: #F0F0F0;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-areas: 
  "bookPage-price"
  "bookPage-delivery"
  "bookPage-button";
}
.bookPage-bookPrice{
  grid-area:bookPage-price ;
  text-align: center;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  width: 90%;
  border-bottom: 1px solid #ccc; 
  margin:0.6rem auto;
}
.bookPage-bookDelivery{
  grid-area:bookPage-delivery ;
  margin-right: 0;
}
.free-delivery-text, .availability-text{
  display: flex;
}
.free-delivery-text i{
  font-size: 2rem;
  margin-left: 2.5rem;
}
.availability-text i{
  font-size: 2.8rem;
  margin-left: 2.5rem;
}
.icon-rocket:before {
  float: none;
  content: "🚀";
}
.icon-check:before {
  float: none;
  content: "✔";
}
.free-delivery-text p{
  font-weight: bold;
  margin-left: 1rem;
}
.availability-text p{
  font-weight: bold;
  margin-left: 1.5rem;
}
.bookPage-bookAddToBasketContainer{
  grid-area:bookPage-button ;
  color: green;
  width: 90%;
  border-top: 1px solid #ccc; 
  margin:0 auto;
  margin-top: 0.5rem;
  align-items: center;
  text-align: center;
}
.bookPage-bookAddToBasketButton{
  margin-top: 0.5rem;
  background-color: turquoise;
  color:white;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background .3s;
}
.bookPage-bookAddToBasketButton:hover{
  background-color: white;
  color:turquoise;
  border: 1px solid turquoise;
}

.bookPage-otherBooksContainer{
  margin-top: -2rem;
  padding-bottom: 1rem;
  grid-area: otherBooks;
  border: 1px solid black;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 12% 87%;
  grid-template-areas:
  "otherBookHeader"
  "otherBook";
}
.bookPage-otherBooksHeader{
  grid-area: otherBookHeader;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem;
}
.bookPage-OtherBooks{
  grid-area: otherBook;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: auto;
}
.otherBookContainer{
  margin-top: 0.5rem;
  max-height: 100%;
  max-width: 95%;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.otherBookImg{
  align-self: center;
  height: 70%;
  width: 45%;
  cursor: pointer;
  margin-top: 0;
}
.otherBookTitle{
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  min-height: 32px;
  max-height: 32px;
  overflow-x: auto;
}
.otherBookAuthor{
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.otherBookPrice{
  text-align: center;
  font-size: 1rem;
  color: green;
}
.otherBookAddToBasketForm{
  align-self: center;
width: 100%;
flex-basis: 20%;
display: contents;
}
.otherBookAddToBasketButton{
  justify-content: center;
  align-self: center;
  margin-top: 0.5rem;
  background-color: turquoise;
  color:white;
  font-size: 1rem;
  padding: 0.5rem;
  border:none;
  border-radius: 10%;
  transition: background .3s;
  cursor: pointer;
}
.otherBookAddToBasketButton:hover{
    background-color: rgb(79, 209, 196);
}
.bookPage-lowerBar{
  margin-top: 1.2rem;
  grid-area: footerBookPage;
  border: 1px solid black;
  background-color: rgb(30, 57, 107);
  color: white;
  width: 100%;
  height: 100%;
}

.signin-isAdminContainer{
  width: 15rem;
  margin-top: 1rem;
}
.signin-isAdmin-label{
 line-height: 2;
 font-size: 1.2rem;
}
#signin-isAdmin-checkbox{
float: right;
width: 2rem;
margin:0;
}

/* computer */

@media (min-width:40rem){

.onLoadModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.onLoadModalContent{
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 50%;
  width: 30rem; /* Could be more or less, depending on screen size */
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.onLoadModalp1{
  display: block;
  color: yellow;
font-size: 2.2rem;
margin-bottom: 2rem;
margin-top: 8rem;
text-align: center;
align-self: center;
}
.onLoadModalp2{
  margin-top: 0;
  text-align: center;
  align-self: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color:rgb(13, 93, 174);
}
.onLoadModalp3{
  text-align: center;
  align-self: center;
  margin-bottom: 5rem;
  margin-top: 0;
  font-size: 3rem;
}
.comp{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 8px;
}
.bookPage-container{
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns:70% 30% ;
  grid-template-rows: 5rem minmax(65vh,auto) 17rem 2rem;
  grid-template-areas:
  "headerBookPage headerBookPage"
  "bookDescription bookPriceBox"
  "otherBooks otherBooks"
  "footerBookPage footerBookPage";
  gap: 3rem;
}
.bookPage-upperBar{
  grid-area:headerBookPage ;
  border: 1px solid green;
  width: 100%;
  height: 100%;
  background-color: rgb(30, 57, 107);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.bookPage-upperCenter{
  display: block;
  color: #d8dfe6;
  font-size: 1.5rem;
  font-family: Georgia, serif;
}
.bookPage-upperBar img{
  height: 3rem;
  width: auto;
  line-height: normal;
}
.bookPage-bookContainer{
  grid-area: bookDescription;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-template-columns: 35% 65%;
  grid-template-areas:
  "bookPage-img bookPage-info";
}
.bookPage-bookimgContainer{
  grid-area: bookPage-img;
  width: 100%;
  height: 100%;
  margin: auto;
}
.bookPage-bookImg{
  padding-left: 1rem;
  height: 25.2rem;
  width: 90%;
}
.bookPage-bookInfoContainer{
  grid-area: bookPage-info;
  margin-left: 0.8rem;
  width: 95%;
  height: 100%;
}
.bookPage-bookInfoTitle{
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 0.5rem;
}
.bookPage-bookInfoCategory{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 1rem;
}
.bookPage-bookInfoYear{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 0.4rem;
}
.bookPage-bookInfoAuthor{
  font-size: 0.8rem;
  font-weight:lighter;
  margin-top: 0.4rem;
}
.bookPage-bookInfoDescription{
  font-size: 0.9rem;
  height: 15rem;
  font-weight: normal;
  margin-top: 1.2rem;
  overflow: auto;
}
.bookPage-bookPriceBox{
  grid-area: bookPriceBox;
  border: 1px solid black;
  background-color: #F0F0F0;
  max-width: 105%;
  height: 65%;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-areas: 
  "bookPage-price"
  "bookPage-delivery"
  "bookPage-button";
}
.bookPage-bookPrice{
  grid-area:bookPage-price ;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  width: 90%;
  border-bottom: 1px solid #ccc; 
  margin:0.6rem auto;
  line-height: 2;
}
.bookPage-bookDelivery{
  grid-area:bookPage-delivery ;
  margin-right: 2rem;
}
.free-delivery-text, .availability-text{
  display: flex;
}
.free-delivery-text i{
  font-size: 2rem;
  margin-left: 2.5rem;
}
.availability-text i{
  font-size: 2.8rem;
  margin-left: 2.5rem;
}
.icon-rocket:before {
  float: none;
  content: "🚀";
}
.icon-check:before {
  float: none;
  content: "✔";
}
.free-delivery-text p{
  font-weight: bold;
  margin-left: 1rem;
}
.availability-text p{
  font-weight: bold;
  margin-left: 1.5rem;
}
.bookPage-bookAddToBasketContainer{
  grid-area:bookPage-button ;
  color: green;
  width: 90%;
  border-top: 1px solid #ccc; 
  margin:0.1rem auto;
  align-items: center;
  text-align: center;
}
.bookPage-bookAddToBasketButton{
  margin-top: 1rem;
  background-color: turquoise;
  color:white;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background .3s;
}
.bookPage-bookAddToBasketButton:hover{
  background-color: white;
  color:turquoise;
  border: 1px solid turquoise;
}

.bookPage-otherBooksContainer{
  margin-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
  grid-area: otherBooks;
  border: 1px solid black;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80%;
  grid-template-areas:
  "otherBookHeader"
  "otherBook";
}
.bookPage-otherBooksHeader{
  grid-area: otherBookHeader;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem;
}
.bookPage-OtherBooks{
  grid-area: otherBook;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.otherBookContainer{
  margin-top: 0.2rem;
  max-height: 90%;
  max-width: 95%;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.otherBookImg{
  align-self: center;
  height: 60%;
  width: 40%;
  cursor: pointer;
}
.otherBookTitle{
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  cursor: pointer;
  min-height: 32px;
  max-height: 32px;
  overflow-x: auto;
  margin-bottom: 0;
}
.otherBookAuthor{
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
.otherBookPrice{
  text-align: center;
  font-size: 1rem;
  color: green;
}
.otherBookAddToBasketForm{
  align-self: center;
width: 100%;
flex-basis: 20%;
display: contents;
}
.otherBookAddToBasketButton{
  justify-content: center;
  align-self: center;
  margin-top: 0.2rem;
  background-color: turquoise;
  color:white;
  font-size: 1rem;
  padding: 0.3rem;
  border:none;
  border-radius: 10%;
  transition: background .3s;
  cursor: pointer;
}
.otherBookAddToBasketButton:hover{
    background-color: rgb(79, 209, 196);
}
.bookPage-lowerBar{
  margin-top: 1.2rem;
  grid-area: footerBookPage;
  border: 1px solid black;
  background-color: rgb(30, 57, 107);
  color: white;
  width: 100%;
  height: 100%;
}
.container{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:20% 80% ;
    grid-template-rows: 5rem 10rem auto 2rem;
    grid-template-areas:
    "header header"
    "nav main"
    "admin main"
    "footer footer";
    gap: 5px;
}
.upperBar{
    width: 100%;
    height: 100%;
    grid-area: header;
    background-color: rgb(30, 57, 107);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.container-cart{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 2rem auto 2rem;
  grid-template-areas:
  "header"
  "mainHead"
  "main"
  "footer";
  gap: 5px;
}
.upperLeft{
    margin-left: 2rem;
}
.upperLeftLogin{
  margin-left: 2rem;
}
.upperCenter{
  display: block;
color: #d8dfe6;
font-size: 1.5rem;
margin-right: 10rem;
font-family: Georgia, serif;
}
.upperRight{
  margin-right: 2rem;
  height: 100%;
}
.upperBar img{
    height: 100%;
    width: 60%;
}

.LoginOrJoin{
    height: fit-content;
    text-decoration: none;
    font-size: 1rem;
    color:white;
    padding:0.2rem;
    margin: auto;
}
.LoginOrJoin:hover{
  background-color: white;
  color: rgb(30, 57, 107) ;
}
.logout{
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}
.logout:hover{
  background-color: white;
  color: #d69e55 ;
}
.myCartUrl{
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  display: block;
  margin-top: 0;
}
.myCartUrl:hover{
  background-color: white;
  color:  #d69e55 ;
}
.searchBar{
    height: fit-content;
    padding-bottom: 2rem;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #F0F0F0;
}
.phoneSearchBar{
  display: none;
}
.adminAddBook{
  display: block;
  grid-area: admin;
  margin-top: 10rem;
  background-color: #F0F0F0;
  text-align: center;
}
.adminAddBook h3{
  display: block;
  margin-bottom: 0;
}
.adminAddBook h6{
  display: block;
  margin-top: 0.2rem;
}
.phoneAdminAddBook{
  display: none;
}
.adminAddBookForm{
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}
.adminAddBookForm button{
  width: 10rem;
  padding: 0.7rem;
  align-self: center;
}
.adminAddBook input{
  margin-top: 1rem;
  height: 1.5rem;
  text-align: center;
}
.addedBookDescription{
  margin-top: 1rem;
  text-align: center;
  max-width: inherit;
  min-height: 4rem;
  resize: vertical;
  font-family: 'Roboto Condensed';
  font-size: 0.9rem;
}
#addBookError{
  display: block;
  margin-top: 1rem;
  width: inherit;
  height: fit-content;
  color: red;
}
#addBookError-phone{
  display: none;
 }
.button{
    margin-top: 2rem;
    background-color: turquoise;
    color:white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border:none;
    border-radius: 10%;
    transition: background .3s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(79, 209, 196);
}
.sortContainer{
  margin-top: 2rem;
  font-size: 1.2rem;
}
.red{
  color: red;
}
.yellow{
  color: yellow;
}
.searchForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.searchForm label{
    margin: 1rem auto 0.2rem;
}
.searchMinPriceText,.searchMaxPriceText,.searchTitleText{
  text-align: center;
}
.mainPage{
    grid-area: main;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.2rem;
    background-color: #F0F0F0;
}
#cartHomeButton{
  align-self: center;
  text-decoration: none;
    font-size: 1rem;
    line-height: 4;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}
#cartHomeButton:hover{
  color: #d69e55 ;
}
.mainPage .cell{
  border: 0.5px solid black;
  text-align: center;
  height: 35vh;
  width: 25.7vw;
  margin-left: 0;
  margin-top: 0;
}
.mainPage .cell .bookImg{
    float: left;
    height: 100%;
    width: 40%;
    cursor: pointer;
}
.mainPage .cell .bookData{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.mainPage .cell .bookTitle{
  font-size: 1.2rem;
    cursor: pointer;
    margin: 0.2rem;
}
.mainPage .cell .bookAuthor{
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.mainPage .cell .bookPrice{
    color: rgb(5, 177, 117);
    font-size: 1.2rem;
}
.mainPage .cell .bookAddToBasket{
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}
.lowerBar{
  grid-area: footer;
  background-color: #2C3E50;
}
.footerContainer{
  max-width: 70%;
}
.footer-right{
  float: right;
}
.footer-left{
  text-align: left;
  line-height: 2;
}
/*---------------------------------------------*/

.mainBox, .mainBox-phone{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "signin join";
    gap: 1px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    top: 5rem;
    left: 12%;
    margin: 5% auto;
    width: 75vw;
    height: 75vh;
    background-color: burlywood;
    padding: 1rem;
}

.sign-in-container, .sign-in-container-phone{
    border-right: 0.5px solid black;
    border-right-width: 100%;
    height: 100%;
    border-bottom: hidden;
}
.join-container{
  border-left: 0;
  border-left-width: 100%;
  height: 100%;
  border-bottom: hidden;
}
.errorJoin{
  color: red;
  margin-left: -4.3rem;
  width: 15rem;
  margin-top: 0.5rem;
  text-align: center;
  max-height: fit-content;
  font-size: 1.2rem;
}
.errorLogin{
  color: red;
  margin-top: 1rem;
  margin-left: -5.8rem;
  width: 15rem;
  text-align: center;
  max-height: fit-content;
  font-size: 1.2rem;
}
#logout-admin{
  height: 100%;
  line-height: 4;
  font-size: 1.1rem;
  display: block;
}
.successLogIn{
max-width: 15rem;
height: fit-content;
text-align: center;
margin-right: 6rem ;
}
.successJoin{
  max-width: 15rem;
  height: fit-content;
  text-align: center;
  margin-right: 4rem ;
}
.signInForm{
    grid-area: signin;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-top: 1.3rem;
}
.joinForm{
    grid-area: join;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.signin-isAdminContainer{
  width: 15rem;
  margin-right: 6rem;
}
.signin-isAdmin-label{
 line-height: 2;
 font-size: 1.2rem;
}
#signin-isAdmin-checkbox{
float: right;
width: 2rem;
margin:0;
}
.join-container h3{
    margin-left: 6.2rem;
    text-align: left;
}
.phoneH3{
  margin-top: 1.6rem;
  visibility: hidden;
}
.compH3{
  visibility: visible;
  text-align: left;
  margin-left: 5.4rem;
}

.signInForm input{
    background-color: #F1F1F1;
    border: none;
    height: 2rem;
    width: 15rem;
    margin-left: -6rem;
    text-align: center;
    border-color: #ccc;
    box-shadow: 0 0.1rem 0 rgba(0,0,0,.07) inset;
}
.joinForm input{
    background-color: #F1F1F1;
    border: none;
    height: 2rem;
    width: 15rem;
    margin:1rem 0 0.5rem -4.2rem;
    text-align: center;
    border-color: #ccc;
    box-shadow: 0 0.1rem 0 rgba(0,0,0,.07) inset;
}
.signInForm button{
    background-color: #10BBD5;
    color: white;
    width: 15rem;
    height: 2rem;
    border: none;
    margin-left: -6rem;
    margin-top: 3rem;
    margin-bottom: -1.3rem;
    cursor: pointer;
}
.joinForm button{
    background-color: #10BBD5;
    color: white;
    width: 15rem;
    height: 2rem;
    border: none;
    margin:2rem 0 0 -4.2rem;
    cursor: pointer;
}
.discountContainer{
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}
.discountButton{
  width: 10rem;
  font-size: 1.2rem;
}
.none{
    display: none;
}
.block{
    display: block;
}
.sortSelect{
  padding: 0.3rem;
  font-size: 0.8rem;
}

.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    padding-bottom: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 10rem;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .alertModal-phone{
    display: none; 
  }
  .alertModal{
    display: block;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    padding-bottom: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .alertNotLogged-phone{
    display: none;
  }
  .alertNotLogged{
    display: block;
    background-color: #fefefe;
    margin: 10rem auto;
    padding: 20px;
    color: red;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
  }
  .modalCart-phone{
    display: none;
  }
  .modalCart{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-items: center;
  }
  .announ{
    grid-area: announ;
    height: fit-content;
  }
  .continueBut{
    grid-area: but1;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    padding: 0;
    font-size: inherit;
    width: 80%;
    border-radius: 0;
    height: 2rem;
  }
  .checkAndProBut{
    grid-area: but2;
    padding: 0;
    margin-top: 0.3rem;
    font-size: inherit;
    width: 80%;
    border-radius: 0;
    height: 2rem;
  }
  
  /* The Close Button */
  .closeModal {
    display: block;
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modalImg{
      float: left;
      margin: 0.5rem;
      flex-basis: 30%;
      width: fit-content;
      height: 30rem;
  }
  .modaldata{
      flex-basis: 60%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .bookInfoTitle{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .bookInfoAuthor{
    margin-top: 0.5rem;
    flex-basis: 10%;
    font-size: 0.8rem;
  }
  .bookInfoDescription{
      font-size: 1.1rem;
      flex-basis: 50%;
  }
  .bookInfoPrice{
    font-size: 1.5rem;
    color:rgb(5, 177, 117);
    cursor:text;
  }
  .bookInfoAddToCart{
    border-radius:0%;
    margin-top: 0.2rem;
    line-height: 2;
    width: inherit;
  }
  .bookInfoPriceAndButton{
      flex-basis: 20%;
      width: -webkit-fill-available;
      cursor: pointer;
  }
  .inline-block{
      display: inline-block;
  }


  /*-----------------------cart-------------------*/
  .cartH1{
      text-align: center;
      color: #e1942f;
  }
  /* .cartH1-phone{
    display: none; */
  /* } */
  .cartContainer{
    width: 50vw;
    height: 30vw;
    margin: 2rem auto;
    background-color: #F0F0F0;
  }
  /* .cartContainer-phone{
    visibility: hidden;
  } */
  .cartBox{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 5fr 0.8fr;
    grid-template-areas: 
    "headerB headerP headerQ headerO"
    "main main main main"
    "footerButton footerButton footerPrice footerPrice";
    height: 30vw;
  }

  .cart-containers div div{
    border-left-width: 0;
    height: 3rem;
    line-height: 3;
    text-align: center;
  }
  
  .options-header{
    overflow: hidden;
    grid-area: headerO;
    text-align: center;
    align-self: center;
    height: fit-content;
    font-weight: bold;
    /* border-right: 1px solid black; */
  }

  .quantity-header{  
    grid-area: headerQ;
    text-align: center;
    align-self: center;
    height: fit-content;
    font-weight: bold;
    max-width: max-content;
    overflow: hidden;
    margin-left: 1.3rem;
    /* border-right: 1px solid black; */
  }
  .title-header{
    grid-area: headerB;
    text-align: center;
    align-self: center;
    height: fit-content;
    font-weight: bold;
  }
  .price-header{
    grid-area: headerP;
    text-align: center;
    align-self: center;
    height: fit-content;
    font-weight: bold;
  }
  .cart-containers{
    border-top: 1px solid #ccc;;
    grid-area: main;
    overflow: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-areas:
    "titles price quantity option";
  }
  .cart-books{
    grid-area: titles;
    }
  .cart-prices{
    grid-area: price;
   }
  .cart-quantity{
    grid-area: quantity; 
  }
  .cart-options{
  display: block;
  grid-area: option;
  }

  #cart-totalPrice{
    grid-area: footerPrice;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  .bookTitleInCart,.bookPriceInCart,.bookQuantityInCart{
    border: 1px solid #ccc;
    overflow-x: auto;
  }
  .bookOptionsInCart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ccc;
  }
  .bookOptionsInCart span{
    cursor: pointer;
    height: 100%;
    width: 33%;
  }
  
  #cart-payButton{
    height: auto;
    text-align: center;
    margin: 0;
    line-height: 3;
    padding: 0;
    align-self: normal;
    border-radius: 0;
    grid-area: footerButton;
    cursor: pointer;
  }

  .continueShoppingButton{
      flex-basis: 40%;
      margin: 0.5rem;
      cursor: pointer;    
  }
  .checkOutAndPayButton{
    flex-basis: 40%;
    margin: 0.5rem;
    cursor: pointer;
  }
  /* -------------------------------------- */

  .adminModalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .adminModalForm h4{
    align-self: flex-start;
    margin: 1rem;
  }
  .adminModalSrcText{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0;
    width: 10rem;
    height: 2rem;
  } 
  .adminModalSrcText-phone{
    display: none;
  }

  .adminModalUpdateButton{
    width: 10.4rem;
    height: fit-content;
    border-radius: 0;
    background-color: brown;
    font-size: 1.2rem;
    transition: background .3s;
    cursor: pointer;
    color: white;
  }
  .adminModalUpdateButton:hover{
    background-color: white;
    color: brown;
    border: 1px solid brown;
  }
}

/* smartphone */